<div style="background-image: url({{ 'fw-image.png' | asset_url }});  background-size:cover;
  background-position:center center;
  background-attachment:fixed;">
<div style="min-height: 500px; position:relative"></div>
</div>
<section id="hero1" class="hero">
  <div class="inner">
    <div class="copy">
    <h1>Choice mountains bro</h1>
    <p>Its like im actually there! But sitting at a computer. Wow, the future is intense!</p>
    </div>
  </div>
</section>
