<div class="wrapper text-center" id="howto">
  <div class="video-content">
    <iframe src="{{settings.video_video_url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <span>{{settings.video_video_text}}</span>
  </div>
</div>
