<div class="wrapper text-center" id="howto">
<h1 class="fp-heading">How it works</h1>
  <div class="video-content">
    <iframe src="{{settings.video_video_url}}" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <span class="video-text">{{settings.video_video_text}}</span>
  </div>
</div>
